<div class="content-section implementation">  
    <h3 class="first">Basic</h3>  
    <p-treeTable [value]="resTratamento">
        <ng-template pTemplate="header">
            <tr>
                <th>Pacote</th>
                <th>Unidade Executante</th>
                <th>Item</th>
                <th>Validade</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" 
            let-rowNode let-rowData="rowData">
            <tr>
                <td>
                    <p-treeTableToggler 
                        [rowNode]="rowNode">
                    </p-treeTableToggler>
                    {{rowData.pacoteNome}}
                </td>
                <td>{{rowData.unidadeNome}}</td>
                <td>{{rowData.itemNome}}</td>
                <td>{{rowData.pacoteValidade}}</td>
                <td>{{rowData.pacoteStatus}}</td>
                
            </tr>            
        </ng-template>
    </p-treeTable>

    <!-- <h3 hidden >Dynamic Columns</h3>
    <p-treeTable hidden [value]="files2" [columns]="cols">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                    {{rowData[col.field]}}
                </td>
            </tr>            
        </ng-template>
    </p-treeTable> -->
</div>